<!-- 1) määra lehele title
	2) tekita body mingi tekstiga
	-->

<head>
	<title>Chat</title>
	<link rel="stylesheet" type="text/css" href="style.css">
<meta charset="utf-8"> 
<!--enne ei näidanud täpitähti konsoolis-->

</head>
<body>
	<h1>Tere tulemast veebilehele Chat!</h1>
	<p>Loodan, et tunned end siin mugavalt.</p>
	<form>
		<div id="jutt"></div>
		<input id="nimi" value= "Kairi" placeholder ="Mis su nimi on?"/>
		<input id="msg" placeholder ="Kirjuta midagi!"/>
		<input value= "Saada!" type="submit">
	</form>

	<script src="script.js"></script>
</body>
