body{
	background-color: rgb(255,204,229);
	font-family: Arial;
	font-size: 16px;
	color: black;

}

form {
	border: 5px solid crimson;
	border-radius: 15px;
	box-shadow: 5px 5px 5px 5px (rgba(0,0,0,0.3));

}

#osa {
	border: 5px solid crimson;
	border-radius:15px
	box-shadow: 5px 5px 5px 5px (rgba(0,0,0,0.3));
}

#nimi {
	width: 100px;
}

#msg {
	width: 1130px;
}

input[type=submit] {
    padding:5px 15px; 
    background:#e32152; 
    border:0 none;
    font-weight: bold;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
} 
