<head>
	<title>Kairi koduleht</title>
	<link rel="stylesheet" type="text/css" href="style.css">

</head>	
<body>
	<h1>Suur pealkiri</h1>
	<h2>Keskmine pealkiri</h2>
	<h3>Väike pealkiri</h3>
	<h4>Pisike pealkiri</h4>
	<p>Mulle meeldivad:</p>
	<ul>
		<li>koerad</li>
		<li>kassid</li>
		<li>lilled</li>
	</ul>

	<ol>
		<li>koerad</li>
		<li>kassid</li>
		<li>lilled</li>
	</ol>
	<form>
		<br>
		<input id="nimi" placeholder ="Kirjuta siia midagi"/> <!--vihje-->
		<p id="koht"></p>
		<br><input type="checkbox"/>
		<input value ="Kirjutan vastuse ette"/> <!--ette öeldud vastus-->
		<br><input type="range"/>
		<br><input class="kastiga" type="submit"/>
		<br><input type="date"/>
		<br>
	</form>

	<img class="kastiga"  width="300" src="https://static.scientificamerican.com/sciam/cache/file/D059BC4A-CCF3-4495-849ABBAFAED10456_source.jpg?w=590&h=800&526ED1E1-34FF-4472-B348B8B4769AB2A1"/>

	<script src="script.js"></script>


</body>
