body{
	background-color: rgb(255,229,204); /* kommentaar */
	font-family: Arial;
	font-size: 16px;
	color: red;
}

form {
border: 5px solid black;
border-radius: 15px;
box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);

}

form input { 
	display: block;
}

.kastiga { /* loon classi, mida saan htmli failis märkida. 
	klassi nimi (kastiga) on mu enda välja mõeldud*/
	border: 2px solid green;
}