body{
	font-family: Verdana;
	font-size: 16px;
	color: black;

}

.center-div
{
   position: fixed;
   left: 40%;
   top:40%;
}

#vastus {
	font-size: 26px;
}

.ilusnupp {
    background-color: #5A5A5A;
    border: 2px solid #5A5A5A;
    color: white;
    padding: 10px 10px;
    text-align: center;
    font-size: 22px;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 10px 0px;
    width: 10%;
    text-decoration: none;
}

.ilusnupp:hover {
    background-color: white;
    color: #5A5A5A;
}