body{
  font-family: Verdana;
  font-size: 16px;
  color: black;
}

.center-div{
    padding-top: 1cm;
    text-align: center;
    font-family: Verdana;
}

.ilusnupp {
    background-color: #5A5A5A;
    border: 2px solid #5A5A5A;
    color: white;
    padding: 10px 10px;
    text-align: center;
    font-size: 22px;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 10px 0px;
    width: 10%;
    text-decoration: none;
}

.ilusnupp:hover {
    background-color: white;
    color: #5A5A5A;
}

.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.form-radio:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
     background-color: #f7f7f7;
}
.form-radio:checked
{
     background-color: #f1f1f1;
}
label
{
     font: 300 16px/1.7 'Open Sans', sans-serif;
     color: #666;
     cursor: pointer;
} 

#button {
    background-color: #5A5A5A;
    border: 2px solid #5A5A5A;
    color: white;
    padding: 10px 10px;
    text-align: center;
    font-size: 26px;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 10px 0px;
    width: 10%;
}

#button:hover {
    background-color: white;
    color: #5A5A5A;
}

.form-text
{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}